body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #list {
    background: #fff;
    padding: 10px;
    width: 50%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-top: 10px solid black;
    border-bottom: 10px solid black;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li .checkbox {
    margin-right: 10px;
    position: absolute;
    left: 0;
  }

  li {
    background: #f9f9f9;
    margin: 10px;
    padding: 10px;
    padding-left: 30px;
    width: 87%;
    border: 1px solid #ddd;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  li .ellipsis-icon {
    cursor: pointer;
    margin-left: 10px;
  }

  .trash-icon {
    cursor: pointer;
  }
  p {
    text-align: center;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    background: white;
  }

  h2 {
    display: flex;
    justify-content: space-between;
    padding-right: 60px;
  }

  #new-task-input {
    list-style: italic;
    padding: 10px;
    margin-left: 10px;
    width: 89%;
  }

  .placeholder {
    position: relative;
    display: inline-block;
    display: flex;
    justify-content: space-between;
    
  }

  .placeholder input {
    width: 80%;
    padding-left: 30px; 
  }
 .placeholder i {
    position: absolute;
    right: 60px;
    top: 50%;
    transform: translateY(-50%);
    color: black; 

}

#clear {
  cursor: pointer;
}

  